<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @milestone.project_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @milestone.title %>
</p>

<p>
  <strong>Version:</strong>
  <%= @milestone.version %>
</p>

<%= link_to 'Edit', edit_milestone_path(@milestone) %> |
<%= link_to 'Back', milestones_path %>
